<div class="uk-grid uk-grid-small uk-padding-remove uk-margin-remove" uk-grid>

  <div class="uk-width-1-3 uk-margin-remove uk-padding-remove">

    <div class="uk-grid uk-grid-small uk-padding-remove uk-margin-remove" uk-grid>
      <div class="uk-margin-remove uk-padding-remove uk-width-expand">
        <span class="main-title">Saved</span>
        {{#if tag}}
        <span class="main-subtitle uk-text-uppercase">{{tag}}</span>
        {{/if}}
      </div>
    </div>
    <div class="uk-grid uk-grid-small uk-padding-remove uk-margin-remove" uk-grid>
      <div class="uk-margin-remove uk-padding-remove">
        <a class="uk-button uk-button-default uk-button-small uk-margin-small-left"
          href="/">Home</a>
        <a class="uk-button uk-button-default uk-button-small uk-margin-small-left"
          href="/archive">Archive</a>
        <a class="uk-button uk-button-default uk-button-small uk-margin-small-left"
          href="{{view.url}}?view={{view.type}}">{{view.type}} View</a>
      </div>
    </div>

  </div>

  <div class="uk-width-2-3 uk-margin-remove uk-padding-remove">
    {{#each tags}}
      {{#if ../archive}}
        <a href="/archive/{{label}}" class="badge badge-{{label}} uk-text-uppercase">{{label}}</a>
      {{else}}
        <a href="/by/{{label}}" class="badge badge-{{label}} uk-text-uppercase">{{label}}</a>
      {{/if}}
    {{/each}}          
  </div>

</div>