<tr>
  <td class="uk-text-nowrap">
    <a href="/contents/{{_id}}" class="uk-link-heading" uk-tooltip="{{escape title}}">
      {{title}}
    </a>
		<a href="{{url}}" target="_blank" uk-icon="icon: link" uk-tooltip="Original Link"></a>
  </td>
  <td class="uk-text-nowrap">
    <span uk-tooltip="Date saved">{{shortMoment created_at}}</span>
  </td>
  <td class="uk-text-nowrap">
    {{#each tags}}
      <span class="uk-link-muted badge badge-{{this}} uk-text-uppercase">{{this}}</span>
    {{/each}}
  </td>
  <td class="uk-text-nowrap">
    <a href="/starred/{{id}}" uk-tooltip="Toggle Starred">
      {{> star is_starred=is_starred}}
    </a>
    <a href="/archived/{{id}}" uk-tooltip="Archive or Unarchive">
      {{> check is_archived=is_archived}}
    </a>
    <a href="/remove/{{id}}" uk-tooltip="Delete Completely">
      <span uk-icon="icon: trash"></span>
    </a>
  </td>
</tr>
